.translate {
	margin-bottom: 15px;
	font-size: 13px;
	color: rgb(155, 151, 151);
	font-weight: 400;

	@media (max-width: 1400px) {
		font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1400 - 320)));
		margin-bottom: calc(7px + (15 - 7) * ((100vw - 320px) / (1400 - 320)));
	}
}