body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(248, 239, 229);
}

p {
	margin: 0;
	padding: 0;
}

.app {
	text-align: center;
	max-width: 1400px;
	width: 100%;
	padding: 10px;

	@media (max-width: 1400px) {
		padding: calc(0px + (10 - 0) * ((100vw - 320px) / (1400 - 320)));
	}
 }

 .top {
	position: relative;

	.label {
		position: absolute;
		top: 0;
		left: 20px;
		user-select: none;
		color: rgb(77, 28, 111);
		font-style: italic;
		font-size: 14px;

		@media (max-width: 700px) {
			position: static;
			display: block;
			margin-bottom: 10px;
		}

		@media (max-width: 1400px) {
			font-size: calc(18px + (14 - 18) * ((100vw - 320px) / (1400 - 320)));
		}
	}

	.textarea {
		width: 300px;
		height: 30px;
		resize: none;
		margin-bottom: 20px;
		padding: 5px;

		@media (max-width: 700px) {
			display: none;
		}
	}
 }

.content {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
	margin-bottom: 20px;

	@media (max-width: 1400px) {
		gap: calc(7px + (20 - 7) * ((100vw - 320px) / (1400 - 320)));
	}
}

.itemBlock {
	width: 200px;
	padding: 10px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;

	@media (max-width: 1400px) {
		width: calc(140px + (200 - 140) * ((100vw - 320px) / (1400 - 320)));
		padding: calc(5px + (10 - 5) * ((100vw - 320px) / (1400 - 320)));
	}

	.itemImage {
		margin-bottom: 5px;
		min-width: 180px;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 180px;

		@media (max-width: 1400px) {
			min-width: calc(110px + (180 - 110) * ((100vw - 320px) / (1400 - 320)));
			flex-basis: calc(110px + (180 - 110) * ((100vw - 320px) / (1400 - 320)));
			margin-bottom: calc(0px + (5 - 0) * ((100vw - 320px) / (1400 - 320)));
		}

		img {
			width:100%;
		}
	}
	
	.itemLabel {
		margin-bottom: 3px;
		flex: 0 1 100%;
	}

	.itemTitle {
		font-size: 15px;
		font-weight: 500;
		color: rgb(41, 2, 68);
		margin-bottom: 3px;

		@media (max-width: 1400px) {
			font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (1400 - 320)));
		}

		@media (max-width: 700px) {
			font-weight: 400;
		}
	}

	.itemBottom {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;

		.itemReference {
			font-size: 13px;
			font-weight: 400;
			color: rgb(116, 114, 114);

			@media (max-width: 1400px) {
				font-size: calc(11px + (13 - 11) * ((100vw - 320px) / (1400 - 320)));
			}
		}

		.itemPrice {
			font-size: 15px;
			font-weight: 500;
			color: rgb(5, 7, 159);

			@media (max-width: 1400px) {
				font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1400 - 320)));
			}

			@media (max-width: 700px) {
				font-weight: 400;
			}
		}
	}
}

.buttons {
	@media (max-width: 365px) {
		display: flex;
		flex-direction: column;
	}
}

.btn {
	cursor: pointer;
	font-size: 14px;
	padding: 8px 12px;
	border: none;
	border-radius: 5px;
	background-color: rgb(41, 2, 68);
	color: rgb(248, 239, 229);

	@media (max-width: 365px) {
		margin-bottom: 10px;
	}

	&:active {
		transform: translateY(2px);
	}
	&:hover {
		background-color: rgb(71, 10, 114);
	}

	&:first-child{
		margin-right: 20px;
		background-color: rgb(2, 22, 88);

		@media (max-width: 365px) {
			margin-right: 0px;
		}

		&:hover {
			background-color: rgb(16, 45, 142);
		}
	}
}

.translate {
	margin-bottom: 15px;
	font-size: 12px;
	color: rgb(155, 151, 151);
	font-weight: 400;

	@media (max-width: 1400px) {
		font-size: calc(11px + (12 - 11) * ((100vw - 320px) / (1400 - 320)));
		margin-bottom: calc(7px + (15 - 7) * ((100vw - 320px) / (1400 - 320)));
	}
}